.navbar-portofolio {
    padding-top: 18px;

    .navbar-brand {
        color: #118CC8;
        font-weight: bold;
    }

    .nav-item {
        .nav-link {
            color: #39A0C1;
        }

        .btn-nav {
            background-color: #3CA9C8;
            border-radius: 40px;

            &:hover {
                background-color: white;
                border: 1px solid #3CA9C8;
                color: #171717 !important;
            }
        }
    }

    @include media-breakpoint-up(lg) {
        .nav-item {
            .nav-link {
                margin-left: 10px;
                margin-right: 10px;
            }
        }
    }

    @include media-breakpoint-down(md) {
        background-color: white;
        box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
        padding: 15px;
    }


}

.navbar-fixed-top.scrolled {
    background-color: #fff !important;
    transition: background-color 200ms linear;
}