.services {
    margin-top: 250px;
    width: 100%;
    min-height: 1200px;
    background-position: bottom;
    background-repeat: no-repeat;
    margin-bottom: 0;


    background-image: url(/images/bg-programmer.svg);
    background-size: cover;

    @include media-breakpoint-down(md) {
        margin-bottom: 150px;
        background: none;
    }

    .card {
        margin-top: 60px;
        border-radius: 20px;
        box-shadow: 0px 10px 30px 0px rgba(21, 10, 82, 0.2);
        transition: all 0.3s ease;

        &:hover {
            transform: scale(1.07);
        }

        .card-body {
            img {
                padding: 10px;
                max-width: 90px;
                margin-bottom: 10px;
            }

            .skill-title {
                font-size: 22px;
                font-weight: bold;
                line-height: 35px;
            }

            .skill-subtitle {
                font-size: 15px;
                font-weight: normal;
                line-height: 28px;
                color: #373535;

            }
        }
    }
}